<header>
  <h1 class='logo'>TECHBLOG</h1>
  <nav>
    <a herf='#'>Home</a>
    <a herf='#'>Dashboard</a>
    <a herf='#'>Logout</a>
  </nav>
</header>

<section class='container'>
  <div class='scrolling-div'>
    {{! POST GOES HERE }}
  </div>
</section>