<header>
  <h1 class='logo'>TECHBLOG</h1>
  <nav>
    <a href='/'>Home</a>
    <a href='/dashboard'>Dashboard</a>
    {{#if logged_in}}
      <a id='logout'>Logout</a>
    {{else}}
      <a href='/login'>Login</a>
    {{/if}}
  </nav>
</header>

<div class='post-container'>
  <div class='post new-post'>
    <div class='post-header'>
      <div class='post-user'>
        <h2>Edit Post</h2>
      </div>
    </div>
    <div class=''>
      <div class='add-comment-title'>
        <input id='Input-Title' class='form-input' type='test' placeholder='title' value='{{title}}' />
      </div>
    </div>
    <div class=''>
      <div class='add-comment-title'>
        <input id='Input-Content' class='form-input' type='test' placeholder='content' value='{{content}}' />
      </div>
    </div>
    <div class=''>
      <div class='add-comment-title'>
        <input id='Input-Tags' class='form-input' type='test' placeholder='tags' value='{{tagline}}' />
      </div>
    </div>
    <div class='comment comment-edit-post'>
      <div class='hide-container'>
        <button id='Edit-Post' class='hide-comment'>Save Changes</button>
      </div>
      <div class='hide-container'>
        <button id='Delete-Post' class='hide-comment'>Delete Post</button>
      </div>
    </div>
  </div>
</div>

<section class='container'>
  <div class='scrolling-div'>
  </div>
</section>

<script src='/js/editPost.js'></script>